In [3]:
import pandas as pd
kalori = pd.read_csv('Ã¶vningsdata.csv')

df= pd.DataFrame(kalori)
df.head()

         Date  Steps  Calories_Burned
0  2025-01-01  10993              421
1  2025-01-02   9723              334
2  2025-01-03  11295              365
3  2025-01-04  13046              479
4  2025-01-05   9531              465